-- Update courses table to include new fields
ALTER TABLE courses 
ADD COLUMN IF NOT EXISTS original_price numeric DEFAULT 0,
ADD COLUMN IF NOT EXISTS discounted_price numeric DEFAULT 0,
ADD COLUMN IF NOT EXISTS content text DEFAULT '',
ADD COLUMN IF NOT EXISTS image_url text DEFAULT '';

-- Create blogs table
CREATE TABLE IF NOT EXISTS blogs (
  id bigint generated by default as identity primary key,
  title text not null,
  slug text unique not null,
  content text not null,
  excerpt text,
  tags text,
  category text,
  image_url text,
  created_at timestamptz default now(),
  updated_at timestamptz default now()
);

-- Create storage buckets for images
-- Note: Run these in Supabase Dashboard > Storage
-- 1. Create bucket 'courses' with public access
-- 2. Create bucket 'blogs' with public access

-- Set up RLS policies for blogs
ALTER TABLE blogs ENABLE ROW LEVEL SECURITY;

-- Allow public read access to blogs
CREATE POLICY \
Allow
public
read
access
to
blogs\ ON blogs
  FOR SELECT USING (true);

-- Allow public read access to courses (if not already set)
CREATE POLICY \Allow
public
read
access
to
courses\ ON courses
  FOR SELECT USING (true);
